html, body{
    margin: 0;
    background-color: #00720d;
    
}
.titulo{
    background-color: #bbbbbb52;
  
    box-shadow: 2px 2px 6px #00000024;
    position: relative;
}
h2{
    color: white;
}
.titulo .blur-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);

}
.cartaImg{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}
.height-box{
    height: 220px;
}